body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .introduction-container {
    text-align: center;
    color: #333;
  }
  
  .personal-info img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .details .section {
    margin: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
  }
  
  .details h3 {
    color: #444;
  }
  